# Binaries
main
murex
murex.exe
murex.upx
/gen-murex-docs
/gen-murex-docs.exe
/docgen
/docgen.exe

# IDE
.idea/
.vscode/
projectFilesBackup
murex.iml

# vendor directories and surplus directories created during broken updates
/vendor.old
/vendor.new
/pkg
/src
/gen/docs-test/

# Misc
.DS_Store
