# Compiled
main
murex
murex.exe
murex.upx
/docgen
/docgen.exe
/stringer
/stringer.exe
bin/
VERSION
deleteme.db

# WebAssembly 
murex.wasm
wasm_exec.js
/wasmserver
/wasmserver.exe

# pandoc
/*.html
/docs/*.html
/docs/*/*.html

# optional builtins
/builtins/imports_build

# test and debugging files
/deleteme
/test/tmp
*.test
*.prof
*.pprof
*local.*

debug.log

# IDE
.idea/
.vscode/
projectFilesBackup
murex.iml

# vendor directories and surplus directories created during broken updates
/vendor.old
/vendor.new
/pkg
/src

# Misc
.DS_Store

# Codecov.io
coverage.txt

# viewpress
node_modules/
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/
