// place your custom styles here
// footer {
//   background-color: black;
// }
h1, h2, h3, h4 {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    //color: #000075;
}
  
h1 {
    font-family: 'Jura', sans-serif;
    font-size: 26px;
    text-shadow: none;
    //color: #707070;
    padding-left: 0px;
    margin-left: 10px
}

h2 {
    font-size: 20px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    //border-bottom-color: #000075;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}

h3 {
    font-size: 16px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    //border-bottom-color: #000075;
    margin-left: 0px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}

h4 {
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 7px;
    padding-left: 0px;
    margin-left: 0px;
}

#main-title {
    font-family: 'Jura', sans-serif;
}

.vp-feature-header {
    font-family: 'Jura', sans-serif;
}

.vp-description {
    font-family: 'Jura', sans-serif;
}

.centre-image {
    max-width: 100%;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


blockquote {
    border-color: #885500 !important;
    color: #885500;
    border-width: 2px;
    border-style: solid;
    padding-left: 0px;
    border-radius: 5px;
    border-left-width: 10px;
    padding-left: 10px;
}

pre, code{
    padding-top: 2px !important;
    padding-bottom: 5px !important;
}

.line-numbers-mode  {
    border-width: 2px;
    border-style: solid;
    border-color: #0f600f;
}

html[data-theme="dark"] ::marker {
    color: #404075;
}

::marker {
    color: #7070e5;
}

code {
    background: inherit !important;
    color: #063928;
}

html[data-theme="dark"] code {
    background: inherit !important;
    color: #eefff0;
}

a:hover code, a:link code, a:visited code {
    color: inherit;
}

html[data-theme="dark"] a:hover code, html[data-theme="dark"] a:link code, html[data-theme="dark"] a:visited code {
    color: inherit;
}

html[data-theme="dark"] code {
    background: inherit !important;
    color: #eefff0;
}

p code {
    //background: #eefff0 !important;
    background: inherit !important;
    color: #063928;
}

html[data-theme="dark"] p code {
    //background: #063928 !important;
    background: inherit !important;
    color: #eefff0;
}

// vuepress tabbed code

.vp-code-tab-nav {
    padding-bottom: 20px;
}

.vp-code-tab .line-numbers-mode {
    border-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}