// you can change colors here
$theme-color: #268bd2;
$quote-color: #850;
$code-color: #0f600f;

// this needs to be quoted
$font-family: "Lato, sans-serif";
// this SHOULDN'T be quoted
$font-title: Jura, sans-serif;
$font-strong: Lato, sans-serif;
$font-italic: "Libre Baskerville", Lato, sans-serif;