version: 2
jobs:
  build:
    working_directory: /go/src/github.com/lmorg/murex
    docker:
      - image: lmorg/murex
        environment:
          GOPATH: /go
    
    #parallelism: 2

    #environment: # environment variables for the build itself
    #  TEST_RESULTS: /tmp/test-results # path to where test results will be saved

    environment:
      #VERSION: 1.12.7
      #GOOS: linux
      #GOARCH: amd64

    steps:
      - run:
          name: Nuke old code
          command: cd .. && rm -rf murex && mkdir murex

      - checkout

      - run:
          name: Run Go tests
          #environment:
          #  MUREX_TEST_SKIP_MAN: true
          command: go test ./... -count 10

      - run:
          name: Build murex
          command: go install github.com/lmorg/murex

      #- run:
      #    name: Validating Pre-Commit

      - run:
          name: Build alt plarforms
          command: mkdir bin && ./test/build_all_platforms.mx --no-colour

workflows:
  version: 2
  build-workflow:
    jobs:
      - build
