@charset "UTF-8";

body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  background-color: #e0e0da;
  line-height: 150%;
  font-size: 15px;
  letter-spacing: 0.04em;
}

p {
  font-family: 'Lato', sans-serif;
  color: #000000;
  margin-right: 60px;
  padding-left: 10px;
}

h1, h2, h3, h4 {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  /*text-shadow: #303030 0em 0em 1em;*/
  padding-left: 10px;
  color: #000075;
}

h1 {
  font-family: 'Jura', sans-serif;
  font-size: 26px;
  text-shadow: none;
  color: #707070;
  padding-left: 0px;
}

h2 {
  font-size: 20px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #000075;
  margin-right: 40px;
  padding-bottom: 5px;
}

h3 {
  font-size: 16px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000075;
  margin-right: 40px;
  padding-bottom: 5px;
}

h4 {
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

strong {
  text-shadow: #a0a0a0 0em 0em 0.1em;
}

a:link, a:visited, a:active {
  color: #800000;
  text-decoration: none;
}

a:hover {
  color: #ff2020;
  text-decoration: underline;
}

li {
  padding-bottom: 10px;
  padding-right: 60px;
}

blockquote {
  border-width: 1px;
  border-style: solid;
  border-color: #4d69e6;
  padding-left: 10px;
  color: #001369;
  background: #d6dee9;
  border-radius: 5px;
  border-right-width: 10px;
  margin-left: 10px;
  margin-right:30px
}

code {
  font-family: 'Source Code Pro', monospace;
  color: #2020D0;
  /*background: #f0f0ff;*/
  border-radius: 5px;
  line-height: 130%;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  font-size: 14px;
}

pre code {
  padding: 0px;
  font-size: 16px;
  font-weight: normal;
  color: #064928;
}

a:link > code, a:visited > code, a:active > code {
  background: #e0e0da;
  font-weight: bold;
  color: #590808;
  font-size: 14px;
  padding: 0px;
}

a:hover > code {
  color: #ff2020;
}

pre {
  background: #f0f0ff;
  border-radius: 5px;
  line-height: 130%;
  border-width: 1px;
  border-style: solid;
  border-color: #0f600f;
  border-right-width: 10px;
  margin-left: 10px;
  margin-right: 30px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 300px;
  overflow: auto;
  text-shadow: none;
}

img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #303133;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a img {
  border-color: #f0f0f0;
  border-width: 2px;
}

a img:hover {
  border-color: #ff2020;
  border-width: 2px;
}

.no-border {
  border-width: 0px;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  display: inherit;
}

.no-border:hover {
  border-width: 0px;
}

.figure, figure {
  display: block;
  margin: auto;
  text-align: center;
}

.caption, figcaption {
  color: #404040;
  font-size: 10px;
  text-align: center;
  margin-top: 0px;
}

.readme {
  text-align: left;
  margin-left: 0px;
}

#side-bar {
  position: fixed;
  width: 180px;
  top: 0px;
  left: 0px;
  height: 100%;
  background: #d0d1d3;
  z-index: 999;
}

#document {
  position: relative;
  padding-left: 200px;
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

.side-bar-title {
  text-align: center;
  color: #000000;
}

.side-bar {
  color: #000000;
  padding-left: 10px;
}

a.side-bar:link, a.side-bar:visited {
  color: #800000;
  text-shadow: none;
}

a.side-bar:active, a.side-bar:hover {
  color: #ff2020; 
}

#build-spec {
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #404040;
  border-style: solid;
  border-right-width: 10px;
  background: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

#commit-hash-short {
  display: none;
}

#burger label {
  display: none;
}

hr {
  border-width: 1px;
  border-style: solid;
  color: #000075;
  margin-right: 40px;
}

th {
  background-color: #f0f0f0;
} 

td {
  border-block-end-style: dotted;
  border-block-color: #a0a0a0;
  border-block-width: 1px;
  padding: 10px;
}

table {
  padding-right: 40px;
}

td > code {
  background: #e0e0da;
  font-weight: bold;
  color: #2020D0;
  font-size: 14px;
}

#toc {
  column-count: 3;
  column-fill: balance;
  margin-left: 20px;
}

#toc ul {
  margin-top: 0px;
  margin-bottom: 20px;
}

#toc li {
  margin-top: 0px;
  margin-bottom: -10px;
}

.ddg {
  overflow: hidden;
  margin: 5px;
  padding: 0px;
  width: 160px;
  height: 40px;
  border-style: solid;
  border-radius: 5px;
  border-color: #800000;
  border-width: 2px
}

.ddg:hover, .ddg:focus {
  border-color: #ff2020;
}

@media screen and (max-width: 1100px) {
    #toc { column-count: 2; }
}

@media screen and (max-width: 678px) {
  body { background-color: #e0e0da; margin: 0px; background-image: linear-gradient(to bottom, #800000, #e0e0da); background-repeat: repeat-x; }
  p { margin: 0px; margin-bottom: 10px; }
  #document { padding: 0px; padding-left: 10px; padding-right: 10px; margin-right: 0px; top: 30px; left: 0px; right: 0px; bottom: 0px; background-color: #e0e0da; height: auto; max-width: 100%; position: absolute; overflow-y: auto; }
  img { max-width: 100%; }
  a img {  border-color: #800000; }
  #side-bar { display: none; position: relative; height: 0px; padding: 10px; width: auto; background-color: #d0d1d3; border-width: 2px; border-color: #800000; border-style: solid; }
  .side-bar-title { display: none; }
  #burger label { display: block; }
  blockquote { margin-inline-start: 0px; margin-inline-end: 0px; margin-right: 0px; padding-top: 10px; }
  pre { margin-inline-start: 0px; margin-inline-end: 0px; margin-left: 0px; margin-right: 0px; }
  #build-spec { margin-inline-start: 0px; margin-inline-end: 0px; margin-right: 0px; }
  #commit-hash-short { display: inline; }
  #commit-hash-long { display: none; }
  h2, h3 { margin-right: 0px; }
  hr { margin-right: 0px; }
  li { padding-right: 0px; }
  #toc { column-count: 1; }
  .ddg { margin: 0px 0px 0px 10px; width:308px; border-width: 0px; }
}

#burger {
  color: #000000;
}

#burger > input {
  display: none;
}

#burger > label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

#toggle-mobile-menu:checked + #side-bar {
  display: block;
  height: 100%;
}

#burger-text {
  display: flex;
  justify-content: space-between;
}